<div class = "image4"></div>
<div class = "container">
  <div class = "row">
    <div class = "col text-center my-3">
      　<h1>欲しいものリスト</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col text-center my-5">
      <%= link_to "ほしい物リスト登録", new_wish_list_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class = "row">
    <% @wish_lists.each do |wish_list| %>
    <div class = "col-2 mt-3 slide-bottom show">
      <%= link_to wish_list_path(wish_list.id) do %>
      <%= attachment_image_tag(wish_list, :wish_list_image, size: "120x150", fallback: "no_image.jpg") %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class = "row my-5" >
    <div class = "col-3 mx-auto" >
      <%= paginate @wish_lists %>
    </div>
  </div>
</div>
