<div class = "image2">
  <div class = "col-12 bg-transparent py-5"> </div>
  <div class = "col-12 bg-transparent py-5"> </div>
  <div class="col-4 pt-5 mx-auto">
    <div class="display-1 text-center text-black-50 border border-dark">Armor</div>
  </div>
</div>