/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.image1{
  background-image: url("FBF97962-5B35-44F2-88C2-AD7105E5F4EC_1_105_c.jpeg");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
}

.image2{
  background-image: url("B97CA482-2FF4-43D6-87F0-BBFCD2A57B2D_1_105_c.jpeg");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
}

.image3{
  background-image: url("C4240000-54A8-44F5-A010-DC701F375917_1_105_c.jpeg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.image4{
  background-image: url("C02AC521-CADF-4F0D-9C72-094941ACDADB_1_105_c.jpeg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

/* スクロール時のフェードイン用のCSS (jQuery使用) */
.slide-bottom {
   opacity: 0;
   transform: translateY(20px);
   transition: all 1.3s 0s ease-out;
 }

 /*下からフェードイン*/
.fade-in-bottom {
   opacity: 0;
   animation-name: fadein-bottom;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

